h2, .h2 {
    font-size: 18px;
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
    color: #001d19;
    font-weight: 700
}

h4, .h4 {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    color: #001d19
}

h5, .h5 {
    font-size: 13.5px;
    font-family: 'Open Sans', sans-serif;
    color: #001d19
}

body {
    background-color: #eaeaea;
    background: url(../images/bg.jpg) no-repeat center center fixed;
    background-size: cover
}

.login-view-text-wellcome {
    color: #DDDDDD
}

.login-view-text-name {
    color: #DDDDDD;
    margin-top: 0;
    margin-bottom: 100px
}

.login-view {
    backgpound-color: #A39161
}

.login-view-logo {
    width: 250px;
    margin-bottom: 35px
}

.some-group {
    padding-bottom: 15px
}

.some-group-label {
    padding-bottom: 0;
    background-color: #a39161
}

.some-group-item {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #fafafa
}

.some-group-stat-item {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #fafafa
}

.some-group-mode-item {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #fafafa
}

.noUi-connect {
    background: #a39161
}

.noUi-background {
    background: #fafafa
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #a39161
}

.navbar-inverse {
    background-color: #685B37;
    border-color: #685B37
}

.navbar .container .navbar-header {
    background-color: #685B37
}

.navbar-inverse .navbar-brand {
    color: black
}

.navbar .container > .navbar-collapse {
    background-color: #333
}

.navbar-inverse .navbar-nav > li > a {
    color: #FFFFFF
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #001d19;
    background-color: #a39161
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary {
    color: black;
    background: #a39161
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-default, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default {
    color: black;
    background: #fafafa
}

.noUi-handle:before, .noUi-handle:after {
    background: inherit
}

.noUi-handle {
    background: #eaeaea
}

.bootstrap-switch .bootstrap-switch-label {
    background: #eaeaea
}

.modal-content {
    background-color: #fafafa
}

.some-group-item .some-group-subitem {
    padding: 0
}

.some-group-stat-item .some-group-subitem {
    padding: 0
}

.some-group-mode-item .some-group-subitem {
    padding: 0
}

.some-group-stat-item .some-group-subitem .some-group-stat-item-label {
    padding-left: 10px;
    padding-top: 8px
}

.some-group-stat-item .some-group-subitem .some-group-stat-item-value {
    padding-left: 0;
    padding-top: 8px;
    float: right
}

.some-group-item .some-group-caption {
    padding-right: 5px
}

.some-group-item .some-slider {
    margin-bottom: 10px;
    margin-top: 10px
}

.some-group-mode-item .some-slider {
    margin-bottom: 10px;
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px
}

.some-group-subitem .some-switch {
    margin-top: 5px;
    float: right
}

.icon-home {
    -webkit-mask: url(../images/home.png) no-repeat 50% 50%;
    mask: url(../images/home.png)
}

.icon-away {
    -webkit-mask: url(../images/away.png) no-repeat 50% 50%;
    mask: url(../images/away.png)
}

.icon-water {
    -webkit-mask: url(../images/water.png) no-repeat 50% 50%;
    mask: url(../images/water.png)
}

.icon-power {
    -webkit-mask: url(../images/power.png) no-repeat 50% 50%;
    mask: url(../images/power.png)
}

.icon-heat {
    -webkit-mask: url(../images/heat.png) no-repeat 50% 50%;
    mask: url(../images/power.png)
}

.icon-mode {
    -webkit-mask-size: cover;
    mask-size: cover;
    width: 40px;
    height: 40px;
    display: inline-block;
    background-color: black
}

.icon {
    -webkit-mask-size: cover;
    mask-size: cover;
    width: 65px;
    height: 65px;
    display: inline-block;
    background-color: black
}

.layer1 {
    float: left
}

.layer2 {
    float: right
}

#containerThree {
    width: 100%;
    text-align: center
}

#left {
    float: left
}

#center {
    display: inline-block;
    margin: 0 auto
}

#right {
    float: right
}

#centerRadioB {
    float: left;
    width: 100%
}

.led {
    width: 36px;
    height: 12px;
    background-color: #D2D7D8;
    border-radius: 10%
}

.led-on {
    background-color: #FF0000
}

.led2 {
    width: 36px;
    height: 12px;
    background-color: #D2D7D8;
    border-radius: 10%
}

.led2-on {
    background-color: #4AB
}

@media (min-width: 768px) {
    .menu-icons-visible {
        display: none
    }
}

.navbar-toggle {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 15px
}

.btn-default {
    color: #fff;
    background-color: #a39161
}

.btn-default:hover {
    color: black;
    background-color: #fafafa
}

.fa {
    color: #000000
}