<!doctype html>
<html ng-app="plunker">
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport"
		  content="width=device-width; initial-scale=1; maximum-scale=1">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">

	<link rel="icon" sizes="192x192"
		  href="images/ico.png">
	<link rel="shortcut icon"
		  href="images/ico.png"
		  type="image/x-icon">
	<link rel="apple-touch-icon-precomposed" sizes="128x128"
		  href="images/ico.png">

	<link rel="apple-touch-startup-image"
		  href="images/ico.png"/>
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="apple-mobile-web-app-status-bar-style" content="black"/>

	<script type="text/javascript">
		function OpenLink(theLink) {
			window.location.href = theLink.href;
		}
	</script>

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script type="text/javascript">
		$().ready(function () {
			$("select").fixForSafariMobile(true);
		})
	</script>


	<title>Медиа</title>


	<!-- CSS -->
	<link rel="stylesheet"
		  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link
			href="css/bootstrap/bootstrap.css"
			rel="stylesheet" type="text/css">
	<link
			href="css/bootstrap/bootstrap-switch.css"
			rel="stylesheet" type="text/css">
	<link
			href="css/offcanvas/offcanvas.min.css"
			rel="stylesheet" type="text/css">
	<link href="nouislider.css"
		  rel="stylesheet" type="text/css">
	<link
			href='https://fonts.googleapis.com/css?family=Rubik&subset=latin,cyrillic-ext,cyrillic'
			rel='stylesheet' type='text/css'>
	<link href="css/style.css"
		  rel="stylesheet" type="text/css">

	<!-- js -->
	<script src="nouislider.js"></script>
	<script
			src="js/jQuery/jquery.js"></script>
	<script
			src="js/bootstrap/bootstrap.js"></script>
	<script
			src="js/bootstrap/bootstrap-switch.js"></script>
	<%-- <script
        src="js/offcanvas/offcanvas.js"></script> --%>
	<script
			src="js/select.js"></script>
	<script
			src="js/dynamic-view-media.js"></script>
	<script
			src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js"></script>

	<!-- Switch js -->
	<script type='text/javascript'>
		$(window).load(function () {
			$("input.switch").bootstrapSwitch();
		});//]]>
	</script>
	<script>
		var app = angular.module('plunker', []);

		app.controller('MainCtrl', function ($scope) {
			$scope.showCon = function (con) {
				$scope.clickOn = con;
			}
		});
	</script>
	<!-- SLIDER -->

</head>
<body ng-controller="MainCtrl">
<div class="overlay"></div>
<nav class="navbar navbar-inverse navbar-static-top">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand  pull-right" onclick="location.href='home.html';"><i class="fa fa-home"></i> Домашняя</a>
		</div>
	</div>
</nav>
<div class="container">
	<div class="row">
		<!-- Group2 -->
		<div class="col-sm-6 col-xs-12 some-gpoup">
			<div class="col-xs-12 some-group-label">
				<h2>Управление медиа</h2>
			</div>
			<div class="col-xs-12 some-group-item">
				<div class="col-xs-12 some-group-subitem">
					<div class="col-xs-6 some-group-subitem some-group-caption">
						<h4>Зона</h4>
					</div>
					<div class="col-xs-6 some-group-subitem">
						<select class="form-control">
							<option>Спальня</option>
							<option>Кухня</option>
							<option>Санузел</option>
						</select>
					</div>
				</div>
			</div>
			<div class="col-xs-12 some-group-item">
				<div class="col-xs-12 some-group-subitem">
					<div class="col-xs-6 some-group-subitem some-group-caption">
						<h4>Источник</h4>
					</div>
					<div class="col-xs-6 some-group-subitem">
						<select ng-init="selection='area1'" ng-model="selection" class="form-control">
							<option value="area1">FM Радио</option>
							<option value="area2">Медиа центр</option>
							<option value="area3">TV</option>
						</select>
					</div>
				</div>
			</div>
			<div class="col-xs-12 some-group-item">
				<div class="col-xs-12 some-group-subitem">
					<div class="btn-group btn-group-justified" data-toggle="buttons">
						<label class="btn btn-default"> <input name="1" value="1"
															   type="radio"><i class="fa fa-stop"></i>
						</label> <label class="btn btn-default"> <input name="2"
																		value="2" type="radio"><i
							class="fa fa-pause"></i>
					</label> <label class="btn btn-default"> <input name="3"
																	value="3" type="radio"><i class="fa fa-play"></i>
					</label> <label class="btn btn-default"> <input name="4"
																	value="4" type="radio"><i
							class="fa fa-backward"></i>
					</label> <label class="btn btn-default"> <input name="5"
																	value="5" type="radio"><i class="fa fa-forward"></i>
					</label>
					</div>
				</div>

				<div class="col-xs-12 some-group-item">
					<div class="col-xs-12 some-group-subitem some-slider">
						<div id="slider2"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- -------------------------------------------------- -->
		<div class="col-sm-6 col-xs-12 some-gpoup">
			<div class="col-xs-12 some-group-label">
				<h2>Плейлист</h2>
			</div>
			<!--  -->
			<div ng-show="selection=='area1'" class="col-xs-12 some-group-item">
				<select class="form-control" size="2">
					<option value="1">92.4 - Ретро FM</option>
					<option value="3">92.8 - Europa Plus Украина</option>
					<option value="4">96.4 - Хит FM</option>
					<option value="5">96.8 - DJFM</option>
					<option value="6">98.0 - Радіо Київ</option>
					<option value="7">98.5 - Русское Радио Украина</option>
					<option value="8">99.0 - Radio Nostalgie</option>
					<option value="9">99.4 - Радио Next</option>
					<option value="10">100.0 - Гала Радио</option>
					<option value="11">100.5 - Народное Радио</option>
					<option value="12">101.1 - Super Radio</option>
					<option value="13">101.5 - MusicРадио</option>
					<option value="14">101.9 - Радио Шансон</option>
					<option value="16">103.1 - Люкс FM</option>
					<option value="17">103.6 - Radio ROKS</option>
					<option value="18">105.5 - Стильное радио Перец FM</option>
					<option value="19">106.0 - Голос Столицы</option>
					<option value="20">106.5 - Kiss FM</option>
					<option value="21">107.4 - Авторадио Украина</option>
					<option value="22">107.9 - Наше Радио</option>
				</select>
			</div>
			<div ng-show="selection=='area2'" class="col-xs-12 some-group-item">
				<select class="form-control" size="2">
					<option value="15">Not Letting Go - Tinie Tempah, Jess Glynne</option>
					<option value="16">Hello - Kishe</option>
					<option value="17">Friends - Aura Dione Feat. Rock Mafia</option>
					<option value="18">Отпусти меня - Serebro</option>
					<option value="19">The Night Is Young - Ridley</option>
					<option value="20">Are You With Me - Lost Frequencies</option>
					<option value="21">Soldier - Samantha Jade</option>
					<option value="22">Dont Be So Hard On Yourself - Jess Glynne</option>
					<option value="23">Funny Love - Dan Balan</option>
					<option value="24">Don't Be So Shy - Imany</option>
					<option value="25">Levels - Avicii</option>
					<option value="1">I Like - Keri Hilson</option>
					<option value="3">Tonight - Reamonn</option>
					<option value="4">I kiss a girl rmx - Katy Perry</option>
					<option value="5">Wonder Where You Are - Da Buzz</option>
				</select>
			</div>
			<div ng-show="selection=='area3'" class="col-xs-12 some-group-item">
				<select class="form-control" size="2">
					<option value="15">1+1</option>
					<option value="16">Интер</option>
					<option value="17">СТБ</option>
					<option value="18">Украина</option>
					<option value="19">Новый канал</option>
					<option value="20">НТН</option>
					<option value="21">ТЕТ</option>
					<option value="22">2+2</option>
					<option value="23">К1</option>
					<option value="24">Мега</option>
					<option value="25">НЛО TV</option>
					<option value="1">М1</option>
					<option value="3">Энтер-Фильм</option>
					<option value="4">Первый Национальный</option>
					<option value="5">К2</option>
				</select>
			</div>
		</div>
	</div>
</div>
<script>
	var linkSlider2 = document.getElementById('slider2');
	noUiSlider.create(slider2, {
		start: 23,
		// Disable animation on value-setting,
		// so the sliders respond immediately.
		animate: false,
		connect: 'lower',
		range: {
			min: 18,
			max: 32
		}
	});
</script>

</body>
</html>
